* {
  padding: 0;
  margin: 0;
}
#sidebar {
  position: fixed;
  width: 200px;
  height: 100%;
  background: blue;
  left: 200px;
}
#sidebar ul li {
   
    list-style: none;
    padding: 15px 10px;
    border-bottom: 1px solid gray;
  
}

#sidebar :active{
left: 0px;
}
.togglebutton {
  position: absolute;
  left: 220px;
  top:20px;
}
.togglebutton  span {
  display: block;
  width: 30px;
  height: 5px;
  background: blue;
  margin: 5px 0;
}